body {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/bg.png?updatedAt=1762968563421);
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

#backcov {
    position: fixed;
    background-color: #FFFFFF1A;
    box-shadow: 0px 0px 10px 5px rgb(245, 245, 245);
    height: 70px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: 60px;
    margin-top: 20px;
    z-index: 100;
}

#navcov {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 5px rgb(245, 245, 245);
    height: 70px;
    top: 40px;
    border-radius: 35px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: calc(100% - 120px);
    z-index: 100;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    width: 100%;
}

#back {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
#back > a {
    flex: 1;
    text-align: center;
}
#navtable {
    border-color: white;
    color: white;
    width: 100%;
    height: 100%;
}

.bot {
    text-align: center;
    width: 25%;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
td.bot > a {
    width: 100%;
    display: block;
}
#logo {
    height: 550px;
    margin: 180px 0 100px;
}

#logo2 {
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/logo.png?updatedAt=1762968560228);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#botdes {
    height: 200px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: #FFFFFF1A;
    box-shadow: 0px 0px 10px 5px rgb(245, 245, 245);
    display: flex;
}

#a {
    height: 100%;
    width: 100%;
    margin: 30px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: #ffffff00;
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
    display: flex;
}

#b {
    height: 100%;
    width: 100%;
    margin: 30px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: #ffffff00;
    box-shadow: 0px 0px 10px 5px rgb(245, 245, 245);
    display: flex;
}

#c {
    height: 100%;
    width: 100%;
    margin: 30px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: #ffffff00;
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
}

.con {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 15px;
    justify-content: center;
}

.box {
    border-radius: 25px;
    box-shadow: 0px 5px 5px 5px white;
    height: 350px;
    width: 250px;
}

h1 {
    color: white;
    font-size: 55px;
    margin-top: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Movie/Show/Comic Poster Images */
#f4 {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/f4.png?updatedAt=1762968563571);
    background-size: cover;
}

#thun {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/thun.jpeg?updatedAt=1762968562614);
    background-size: cover;
}

#cap {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/cap.jpg?updatedAt=1762968559827);
    background-size: cover;
}

#dw {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/dw.jpg?updatedAt=1762968562571);
    background-size: cover;
}

#mar {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/mar.jpg?updatedAt=1762968560367);
    background-size: cover;
}

#bnd {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/bnd.jpg?updatedAt=1762968559241);
    background-size: cover;
}

#dd {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/dd.jpg?updatedAt=1762968559790);
    background-size: cover;
}

#sv {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/sv.jpg?updatedAt=1762968559793);
    background-size: cover;
}

#sw {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/sw.jpg?updatedAt=1762968559659);
    background-size: cover;
}

#blade {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/blade.jpg?updatedAt=1762968559085);
    background-size: cover;
}

#mz {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/mz.jpg?updatedAt=1762968559232);
    background-size: cover;
}

#eow {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/eow.jpeg?updatedAt=1762968560586);
    background-size: cover;
}

#ih {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/ih.jpg?updatedAt=1762968560394);
    background-size: cover;
}

#dba {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/dba.jpg?updatedAt=1762968560376);
    background-size: cover;
}

#fnsp {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/fnsp.jpeg?updatedAt=1762968560133);
    background-size: cover;
}

#fnsp2 {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/fnsp2.jpg?updatedAt=1762968559351);
    background-size: cover;
}

#dba2 {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/dba2.jpg?updatedAt=1762968559125);
    background-size: cover;
}

#xm {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/xm.jpg?updatedAt=1762968559183);
    background-size: cover;
}

#wm {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/wm.jpg?updatedAt=1762968559238);
    background-size: cover;
}

#vq {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/vq.jpg?updatedAt=1762968559394);
    background-size: cover;
}

#no {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/no.jpg?updatedAt=1762968561879);
    background-size: cover;
}

#pre {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/pre.jpg?updatedAt=1762968560637);
    background-size: cover;
}

#apo {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/apo.jpg?updatedAt=1762968559007);
    background-size: cover;
}

#asp {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/asm.jpg?updatedAt=1762968562393);
    background-size: cover;
}

#st {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/st.jpg?updatedAt=1762968562557);
    background-size: cover;
}

#mk {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/mk.jpg?updatedAt=1762968559835);
    background-size: cover;
}

#mm {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/mm.jpg?updatedAt=1762968562564);
    background-size: cover;
}

#ca {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/ca.jpg?updatedAt=1762968562058);
    background-size: cover;
}

#vt {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/vt.jpg?updatedAt=1762968561983);
    background-size: cover;
}

#mx {
    background-image: url(https://ik.imagekit.io/darshilxrajawat/mx.jpg?updatedAt=1762968561808);
    background-size: cover;
}

/* Detail Page Styles */
#content {
    padding: 120px 60px 60px 60px;
}

#title-section {
    text-align: center;
    margin-bottom: 50px;
}

#title-section img {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#movie-info {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

#poster-section {
    flex-shrink: 0;
}

#f4-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/f4.png?updatedAt=1762968563571);
    background-size: cover;
    background-position: center;
}

#thun-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/thun.jpeg?updatedAt=1762968562614);
    background-size: cover;
    background-position: center;
}

#cap-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/cap.jpg?updatedAt=1762968559827);
    background-size: cover;
    background-position: center;
}

#dw-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/dw.jpg?updatedAt=1762968562571);
    background-size: cover;
    background-position: center;
}

#mar-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/mar.jpg?updatedAt=1762968560367);
    background-size: cover;
    background-position: center;
}

#bnd-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/bnd.jpg?updatedAt=1762968559241);
    background-size: cover;
    background-position: center;
}

#dd-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/dd.jpg?updatedAt=1762968559790);
    background-size: cover;
    background-position: center;
}

#sv-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/sv.jpg?updatedAt=1762968559793);
    background-size: cover;
    background-position: center;
}

#sw-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/sw.jpg?updatedAt=1762968559659);
    background-size: cover;
    background-position: center;
}

#blade-poster {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px white;
    background-image: url(https://ik.imagekit.io/darshilxrajawat/blade.jpg?updatedAt=1762968559085);
    background-size: cover;
    background-position: center;
}

#mz-poster {
    background-image: url(mz.jpg);
}

#eow-poster {
    background-image: url(eow.jpeg);
}

#ih-poster {
    background-image: url(ih.jpg);
}

#dba-poster {
    background-image: url(dba.jpg);
}

#fnsp-poster {
    background-image: url(fnsp.jpeg);
}

#fnsp2-poster {
    background-image: url(fnsp2.jpg);
}

#dba2-poster {
    background-image: url(dba2.jpg);
}

#xm-poster {
    background-image: url(xm.jpg);
}

#wm-poster {
    background-image: url(wm.jpg);
}

#vq-poster {
    background-image: url(vq.jpg);
}

#no-poster {
    background-image: url(no.jpg);
}

#pre-poster {
    background-image: url(pre.jpg);
}

#apo-poster {
    background-image: url(apo.jpg);
}

#asp-poster {
    background-image: url(asm.jpg);
}

#st-poster {
    background-image: url(st.jpg);
}

#mk-poster {
    background-image: url(mk.jpg);
}

#mm-poster {
    background-image: url(mm.jpg);
}

#ca-poster {
    background-image: url(ca.jpg);
}

#vt-poster {
    background-image: url(vt.jpg);
}

#mx-poster {
    background-image: url(mx.jpg);
}

#details-section {
    flex: 1;
}

.info-box {
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 5px rgb(245, 245, 245);
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 30px;
}

.info-box-inner {
    background-color: #ff000000;
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
    border-radius: 20px;
    padding: 25px;
}

.info-box h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}

.info-box p {
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
}

.info-box ul {
    font-size: 20px;
    line-height: 1.8;
    margin: 0;
    padding-left: 25px;
}

#watch-section {
    text-align: center;
    margin-top: 50px;
}

#watch-button {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 5px rgb(245, 245, 245);
    border-radius: 35px;
    padding: 10px;
    transition: transform 0.3s;
}

#watch-button:hover {
    transform: scale(1.05);
}

#watch-button-inner {
    background-color: #ff000000;
    box-shadow: 0px 0px 15px 5px rgb(255, 0, 0);
    border-radius: 25px;
    padding: 20px 60px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
#f4:hover, #thun:hover, #cap:hover, #dw:hover, #mar:hover {
    transform: scale(1.15);
}

#f4, #thun, #cap, #dw, #mar {
    transform-origin: center center;
    transition: all 0.25s ease-in-out;
}

/* Responsive Design */
@media (max-width: 1200px) {
    #movie-info {
        flex-direction: column;
        align-items: center;
    }

    .detail-poster {
        width: 350px;
        height: 525px;
    }
    #logo{
        height:480px;
    }
}

@media (max-width: 768px) {
    #content {
        padding: 120px 15px 30px 15px;
    }

    #title-section img {
        max-width: 300px;
    }

    .detail-poster {
        width: 300px;
        height: 450px;
    }

    #backcov {
        margin-left: 30px;
        width: 120px;
    }

    #back {
        font-size: 20px;
    }
    .info-box{
        padding: 15px;
    }
    .info-box h2 {
        font-size: 28px;
    }

    .info-box p, .info-box ul {
        font-size: 18px;
    }

    #watch-button-inner {
        font-size: 24px;
        padding: 15px 40px;
    }
    #navcov{
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
        top:25px;
    }
    .bot{
        font-size: 16px;
    }
    #logo{
        height:400px;
    }
    #poster-section {width: 100%;}
    #f4-poster,
    #thun-poster,
    #cap-poster,
    #dw-poster,
    #mar-poster {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 3;
        max-width: 300px;
        margin: 0 auto;
    }
}